{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>

<div class="about-content">
    <p>Добро пожаловать на наш сайт! Мы — страстные поклонники какао, и наша цель — предоставить вам самые вкусные и качественные продукты из этого замечательного ингредиента.</p>

    <p>На нашем сайте вы найдете разнообразие какао-продуктов, от классических горячих напитков до эксклюзивных десертов и мерча, который порадует настоящих ценителей какао.</p>

    <p>Каждый продукт мы выбираем с особой тщательностью, чтобы обеспечить вам незабываемый вкус и уютные моменты, наслаждаясь любимым напитком. Мы стремимся сделать какао доступным и интересным для всех!</p>

    <p>Спасибо, что выбираете нас. Наслаждайтесь вкусом!</p>
</div>

{% endblock %}
