{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Обратная связь</h1>

<p>Если у вас возникли вопросы, предложения или проблемы при использовании сайта, пожалуйста, воспользуйтесь следующей инструкцией:</p>

<ol>
    <li>Опишите вашу проблему как можно подробнее.</li>
    <li>Укажите, на какой странице сайта она возникла.</li>
    <li>Приложите скриншот, если это поможет лучше понять ситуацию.</li>
</ol>

<p>Свяжитесь с нами по электронной почте: <a href="mailto:support@cocoahouse.ru">support@cocoahouse.ru</a></p>

<p>Мы ответим вам в течение 1–2 рабочих дней.</p>
{% endblock %}
