{% extends 'base.html' %}
{% block content %}
{% include 'cocoa/includes/nav.html' %}
{% load static %}


<h1>{{title}}</h1>
<ul>
 {% for p in posts %}
 <li>
 <h2>{{p.title}}</h2>
 <p >{% autoescape off %}
{{p.content|linebreaks|truncatewords:50}}
{% endautoescape %}</p>
 <p class="link-readpost"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
 </li>
 {% endfor %}
</ul>
<img src="{% static 'cocoa/images/badian.png' %}" alt="Бадьян" class="badian">
{% include 'cocoa/includes/nav.html' %}



{% endblock %}
