{% extends 'base.html' %}
{% block content %}
{% include 'cocoa/includes/nav.html' %}
{% load static %}

<h1>{{ title }}</h1>
<ul>
  {% for p in posts %}
    <li>
      <div class="article-panel">
        <p class="first">Категория: {{p.cat.name}} | автор: {{p.author.username|default:"неизвестен"}}</p>
        <p class="last">Дата: {{ p.time_update|date:"d-m-Y H:i:s" }}</p>
      </div>

      <h2>{{ p.title }}</h2>
      {% if p.photo %}
        <p ><img class="img-article-leftthumb" src="{{p.photo.url}}" style="max-width: 300px; height: auto; border-radius: 5px;"></p>
        {% endif %}
      <p>
        {% autoescape off %}
          {{ p.content|linebreaks|truncatewords:50 }}
        {% endautoescape %}
      </p>

      <p class="link-readpost"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
      <p>Адрес: {{ p.filial.address }}</p>
      <p>Действует до: {{ p.filial.month }}.2025</p>

    </li>
  {% endfor %}

</ul>

<nav class="list-pages">
  <ul>
    {% if page_obj.has_previous %}
      <li class="page-num">
        <a href="?page={{ page_obj.previous_page_number }}">← Назад</a>
      </li>
    {% endif %}

    {% for p in paginator.page_range %}
      {% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
      {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-num">
          <a href="?page={{ p }}">{{ p }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-num">
        <a href="?page={{ page_obj.next_page_number }}">Вперёд →</a>
      </li>
    {% endif %}
  </ul>
</nav>


<img src="{% static 'cocoa/images/badian.png' %}" alt="Бадьян" class="badian">
{% include 'cocoa/includes/nav.html' %}
{% endblock %}
