<!DOCTYPE html>
{% load static %}
{% load cocoa_tags %}
{% load menu_tags %}
{% getcats as categories %}


<html>
<head>
    <link type="text/css" href="{% static 'cocoa/css/styles.css' %}" rel="stylesheet" />
    <title>{{ title }}</title>
</head>
<body>
    <ul>
        <img src="{% static 'cocoa/images/cocoa.png' %}" alt="Логотип" class="logo">
        <li><a href="{% url 'home' %}">Главная</a></li>
        {% for m in main_menu %}
            {% if not forloop.last %}
                <li>{% else %}<li class="last">{% endif %}
                <a href="{% url m.url_name %}">{{ m.title }}</a>
            </li>
        {% endfor %}

    </ul>

    {% block content %}
    {% endblock %}

    {% block navigation %}
    {% endblock %}


    <!-- Sidebar слева -->
 <td valign="top" class="left-chapters">
 <ul id="leftchapters">
{% if cat_selected == 0 or cat_selected is None %}
 <li class="selected">Все
категории</li>
{% else %}
 <li><a href="{% url 'home' %}">Все
категории</a></li>
{% endif %}
{% show_categories cat_selected_id=cat_selected %}
<li class="share">
 <p >Наш канал</p>
 <a class="share-yt" href="..."
target="_blank" rel="nofollow"></a>
 </li>
 <li>{% show_all_tags %}</li>
 </ul>
</td>
    <!-- Конец Sidebar'а -->


<!-- Футер -->
    <footer class="footer">
        <div class="footer-container">
            <ul class="footer-categories">
                {% for cat in categories %}
                    <li><a href="{% url 'category' cat.id %}">{{ cat.name }}</a></li>
                {% endfor %}
            </ul>
            <p>&copy; 2025 Cocoa House. Все права защищены.</p>
        </div>
    </footer>

</body>
</html>
